<div class="row">
    <div class="col-md-4 m-auto ">
        <div class="container mt-5 pl-5 ">
            <h2 class="text-center m-4">Add Category</h2>
       
            <form action="add-category" method="post" id="addCategoryForm">
               <div id="addSubCategory">
                   <div class="form-group">
                    <label for="">Enter Category Name</label>
                    <input type="text" class="form-control" name="CategoryName"  id="CategoryName">
                    </div>
                 {{!--  <div class="form-group">
                    <label for="">Enter SubCategory</label>
                    <input type="text" class="form-control w-50" name="SubCategory1"  id="SubCategory1">
                </div> --}}
               </div>
         
               
               
                <div class="text-center mt-4">
                    {{#if changePasswordStatus}}
                         <span  class="text-danger">{{changePasswordStatus}}</span>
                    {{/if}}
                    <p id="error" class="text-danger"></p>
                    <button type="submit" class="btn btn-primary w-80">Add Category</button><br>
                 
                 
               
                </div>
               
                 
            </form>
             {{!-- <button class="btn btn-dark mt-3 " onclick=" addSubCategory()"><i class="fa-solid fa-plus m-2"></i>sub category</button> --}}
        </div>
    </div>
</div>
