<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid bluenav">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarTogglerDemo01"
        aria-controls="navbarTogglerDemo01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="/">Shopping Cart</a>
      
           <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">products</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link position-relative" href="/cart">Cart
          
             <span class="badge bg-secondary" id="cart-count" value="0">{{cartcount}}</span>
          
          
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/orders">Orders</a>
          </li>

        </ul>

     
       
        <div class="dropdown mr-5">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
          {{#if user}}
             {{ user.Name}}
              {{else}}
              Account
          {{/if}}
            
          </button>
          <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
             {{#if user}}
             <a class="dropdown-item" href="profile">My Profile</a>
             <a class="dropdown-item" href="logout">Logout</a>
              {{else}}
              
              <a class="dropdown-item" href="login">Login</a>
          {{/if}}
           

          </div>
        </div>
      </div>
    </div>
  </nav>
</header>