 <div class="row">


     <div class=" cols-4 col-md-2" id="wrapper">
         <!-- Sidebar-->
         <div class="border-end bg-dark " id="sidebar-wrapper" style="background-color: black:  !important;;">
             <div class="sidebar-heading border-bottom "></div>
             <div class="list-group list-group-flush bg-dark">
                 <a class="list-group-item list-group-item-action list-group-item-light p-3 profile-side text-white"
                     href="/profile"><i class="fa-solid fa-user"></i> Profile</a>

                 <a class="list-group-item list-group-item-action list-group-item-light p-3 profile-side text-white"
                     href="/edit-user-details">Edit Details</a>
                 <a class="list-group-item list-group-item-action list-group-item-light p-3 profile-side text-white"
                     href="/address-management">Address Management</a>
                 <a class="list-group-item list-group-item-action list-group-item-secondary p-3 "
                     href="/change-password">Change Password</a>
                 <a class="list-group-item list-group-item-action list-group-item-light p-3 profile-side text-white"
                     href="/offers-coupons">Offers and Coupons</a>


             </div>
         </div>
         <!-- Page content wrapper-->

         <!-- Top navigation-->

         <!-- Page content-->


     </div>


     <div class="cols-6 col-md-8 mt-4">
         <div class="container   mr-5 ">
             {{!-- <h2 class="text-center">Change Password</h2> --}}
                <div class="container col-md-8">
             <form action="/change-password" method="post" id="formPassword" class="mx-5">
                 <div class="form-group">
                     <label for="">Enter current Password</label>
                     <input type="password" placeholder="Current Password" class="form-control " name="CurrentPassword" id="CurrentPassword">
                 </div>
                 <div class="form-group">
                     <label for="">Enter new password</label>
                     <input type="password" placeholder="New Password" class="form-control" name="NewPassword" id="NewPassword">
                 </div>
                 <div class="form-group">
                     <label for="">Confirm password</label>
                     <input type="password" placeholder="Confirm Password" class="form-control" name="ConfirmPassword" id="ConfirmPassword">
                 </div>
                 <div class="text-center mt-4">
                     {{#if changePasswordStatus}}
                     <span class="text-danger">{{changePasswordStatus}}</span>
                     {{/if}}
                     <p id="error" class="text-danger"></p>
                     <button type="submit" class="btn btn-dark btn-outline-secondary text-white w-100">Change
                         Password</button><br>



                 </div>


             </form>
             </div>
         </div>
     </div>
 </div>


 <script>
     let current = document.getElementById('CurrentPassword');
     let new = document.getElementById('NewPassword');
     let form = document.getElementById('formPassword');
     let confirm = document.getElementById('ConfirmPassword');

     form.addEventListener('submit', (e) => {

         if (current.value == "" && new.value == "" && confirm.value == "") {
             document.getElementById('error').innerHTML = "Enter Password fields";
             e.preventDefault();
         } else if (current.value == "") {
             document.getElementById('error').innerHTML = "Please Enter Current Password";
             e.preventDefault();
         }
         elseidelse
         if (new.value == "") {
             document.getElementById('error').innerHTML = "Please Enter a new Password ";
             e.preventDefault();
         }
         elseidelse
         if (confirm.value == "") {
             document.getElementById('error').innerHTML = "Please Confirm password ";
             e.preventDefault();
         } else if (new.value != current.value) {
             document.getElementById('error').innerHTML = "New Password and confirm password does not match";
             e.preventDefault();
         } else if (new.value.length < 4) {
             document.getElementById('error').innerHTML = "Length of password should be atleast 4";
             e.preventDefault();
         }
     })
 </script>