<div class="row">
    <div class="col-md-4 m-auto ">
        <div class="container mt-5 pl-5 border shadow">
            <h2 class="text-center m-4">Change Password</h2>
       
            <form action="/change-password" method="post" id="formPassword">
                <div class="form-group">
                    <label for="">Enter current Password</label>
                    <input type="password" class="form-control" name="CurrentPassword"  id="CurrentPassword">
                </div>
                 <div class="form-group">
                    <label for="">Enter new password</label>
                    <input type="password" class="form-control" name="NewPassword"  id="NewPassword">
                </div>
                 <div class="form-group">
                    <label for="">Confirm password</label>
                    <input type="password" class="form-control" name="ConfirmPassword"   id="ConfirmPassword">
                </div>
                <div class="text-center mt-4">
                    {{#if changePasswordStatus}}
                         <span  class="text-danger">{{changePasswordStatus}}</span>
                    {{/if}}
                    <p id="error" class="text-danger"></p>
                    <button type="submit" class="btn btn-primary w-100">Change Password</button><br>
                 
                 
               
                </div>
               
                 
            </form>
        </div>
    </div>
</div>


<script>
    let current=document.getElementById('CurrentPassword');
    let new=document.getElementById('NewPassword');
    let form =document.getElementById('formPassword');
    let confirm =document.getElementById('ConfirmPassword');
    
    form.addEventListener('submit',(e)=>{
       
        if(current.value==""&&new.value==""&&confirm.value==""){
            document.getElementById('error').innerHTML="Enter Password fields";
            e.preventDefault();
        }
          else if(current.value==""){
            document.getElementById('error').innerHTML="Please Enter Current Password";
            e.preventDefault();
        }elseidelse if(new.value==""){
            document.getElementById('error').innerHTML="Please Enter a new Password ";
            e.preventDefault();
        }elseidelse if(confirm.value==""){
            document.getElementById('error').innerHTML="Please Confirm password ";
            e.preventDefault();
        }else  if (new.value!=current.value) {
            document.getElementById('error').innerHTML="New Password and confirm password does not match";
            e.preventDefault();
        }else if(new.value.length<4){
             document.getElementById('error').innerHTML="Length of password should be atleast 4";
            e.preventDefault();
        }
    }) 

     


</script>