<div class="row">
    <div class="col-md-4 m-auto">
        <div class="container mt-5 pl-5 border shadow">
            <h2 class="text-center">Edit Profile</h2>
       
            <form action="/edit-user-details" method="post" id="form">
                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" class="form-control" name="Name" id="name" value="{{userDetails.Name}}" id="name">
                </div>
                 <div class="form-group">
                    <label for="">Email</label>
                    <input type="text" class="form-control" name="Email"  value="{{userDetails.Email}}" id="email">
                </div>
                <div class="text-center mt-4">
                    <p id="error" class="text-danger"></p>
                     <button type="submit" class="btn btn-primary w-100">Edit</button><br>
                 
                 
               
                </div>
               
                 
            </form>
        </div>
    </div>
</div>


<script>
    let name=document.getElementById('name');
    let email=document.getElementById('email');
    
    let form =document.getElementById('form');
    
    form.addEventListener('submit',(e)=>{
        if(name.value==""&&email.value==""&&password.value==""){
            document.getElementById('error').innerHTML="enter  values to edit";
            e.preventDefault();
        }
          else if(name.value==""){
            document.getElementById('error').innerHTML="Please Enter Name";
            e.preventDefault();
        }else if(email.value==""){
            document.getElementById('error').innerHTML="Please enter email ";
            e.preventDefault();
        }else  if (!name.value.match(/^[a-zA-Z]*$/)) {
            document.getElementById('error').innerHTML="Numbers are not allowed in name field";
            e.preventDefault();
        }
    })


</script>