<div class="row mt-5">
    <div class="col-md-4 m-auto mt-5">
        <div class="container mt-5 pl-5 border rounded-3" style="background-color:  rgba(0, 0, 0, 0.2);">
            <h2 class="text-center">Login</h2>
               {{#if logerror}}
               <div class="text-center"><p class="text-danger"> {{logerror}}</p> </div>
                      
                    {{/if}}
            <form action="/login" method="post" id="form">
                <div class="form-group">
                    <label for="">Email address</label>
                    <input type="email" class="form-control" name="Email" placeholder="Enter email" id="email">
                </div>
                 <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control" name="Password" placeholder="Enter password" id="password">
                </div>
                <div class="text-center mt-4">
                    <p id="error" class="text-danger"></p>
                     <button type="submit" class="btn btn-dark btn-outline-secondary text-white w-100 mb-2">Login</button><br>
                    <a href="/signup"  class="link-dark "  style="text-decoration:none; font-weight:600;">Create a new account ?</a>
                 
               
                </div>
               
                 
            </form>
        </div>
    </div>
</div>

<script>
   
    let email=document.getElementById('email');
    let password=document.getElementById('password');
    let form =document.getElementById('form');
    form.addEventListener('submit',(e)=>{
        if(email.value==""&&password.value==""){
            document.getElementById('error').innerHTML="enter login details to continue..";
            e.preventDefault();
        }
          else if(email.value==""){
            document.getElementById('error').innerHTML="enter email field";
            e.preventDefault();
        }else if(password.value==""){
            document.getElementById('error').innerHTML="enter password field";
            e.preventDefault();
        }
    })


</script>