<div class="row ">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5 border rounded-3 " style="background-color:  rgba(0, 0, 0, 0.2);">
            <h2 class="text-center">Create Account</h2>
            <form action="/signup" method="post" id="form">
                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" class="form-control" name="Name" placeholder="Enter name" id="name">
                </div>
                <div class="form-group">
                    <label for="">Email address</label>
                    <input type="email" class="form-control" name="Email" placeholder="Enter email" id="email">
                </div>
                 <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" class="form-control" name="Password" placeholder="Enter password" id="password">
                </div>
                <div class="text-center mt-4">
                    <p id="error" class="text-danger"></p>
                     <button type="submit" class="btn btn-dark btn-outline-secondary text-white w-100 mb-2">Register</button><br>
                    <a href="/login"  class="link-dark "  style="text-decoration:none; font-weight:600;">Already having account ?</a>
               
                </div>
               
                 
            </form>
        </div>
    </div>
</div>

<script>
    let name=document.getElementById('name');
    let email=document.getElementById('email');
    let password=document.getElementById('password');
    let form =document.getElementById('form');
    
    form.addEventListener('submit',(e)=>{
        if(name.value==""&&email.value==""&&password.value==""){
            document.getElementById('error').innerHTML="enter form values to continue..";
            e.preventDefault();
        }
          else if(name.value==""){
            document.getElementById('error').innerHTML="enter name field";
            e.preventDefault();
        }else if(email.value==""){
            document.getElementById('error').innerHTML="enter email field";
            e.preventDefault();
        }else if(password.value==""){
            document.getElementById('error').innerHTML="enter password field";
            e.preventDefault();
        }else  if (!name.value.match(/^[a-zA-Z]*$/)) {
            document.getElementById('error').innerHTML="Numbers are not allowed in name field";
            e.preventDefault();
        }else if(password.value.length<4){
             document.getElementById('error').innerHTML="Length of password should be atleast 4";
            e.preventDefault();
        }
    })


</script>